body {
  font-family: courier new;
}

.header {
	width: 99%;
  margin: 0 0 1% 0;
}

.studentinfo {
	height: auto;											
	width: 55%;
	margin-left: 0px;
  float: left;
  padding-left: 20px;
  font-size: 25px;
  padding-left: 10%;
}

.studentinfo input[type=text] {
    font-family: courier new;
    border: none;
    margin-right: 49%;
    float: right;
    font-size: 18px;
    margin-top: 0.5%;
}

.newcomplaint {
	border: 1px transparent;											
  width: 28%;
  margin-top: 1%;
	margin-left: 0px;
  float: left;
  padding: 10.5px;
}


.complaints {
	border: 1px solid black;
	height: auto;											
	width: 100%;
	margin-left: 0px;
	margin-top:10px;
}



.select {
  color: black;
  float: left;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  margin-top: 0%;
}

.select:hover {
  background-color: #4CAF50;
}

.a1 {
  padding: 25px;
  text-decoration: none;
  font-size: 20px;
  background-color: #4CAF50;
  color: black;
  height: 90px;
  width: 280px;
  font-family: sans-serif;
}

.a1:hover {
  padding: 25px;
  text-decoration: none;
  font-size: 20px;
  background-color:#4CAF50;
  color: black;
  height: 100px;
  width: 280px;
  box-shadow: 0 0 10px black;
}


.newcomplaint a:hover{
  font-size:42px;
  background:#4CAF50;
  box-shadow: 6px 4px 10px 6px rgb(163, 161, 161);
}

.complaintinfo {
  color: black;
  display: none;
  padding: 40px 20px 50px 20px;
  height: auto;
  min-height: 240px;
  margin-top: 0%;
}


table{
  width: 100%;
  font-family: century gothic;
  border-collapse: collapse;
  
}

th{
  text-align:center;
  border: 1px solid #dddddd;
} 
td{
  border: 1px solid #dddddd;
  text-align:center;

}
tr:nth-child(even) {
  background-color: #dddddd;
}

@media screen and (max-width: 1145px) {

  .header a {
	font-size: 20px; 
  }

}

@media screen and (max-width: 940px) {

  .header a {
	font-size: 15px; 
  }

}